<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа №2. Морской бой</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <script src="/game.js"></script>
    <div id="game-container">
        <table id="left-table">
            <caption>Ваше поле</caption>
            <tbody>
                <!-- Верхняя таблица (своя) -->
            </tbody>
        </table>

        <table id="right-table">
            <caption>Поле противника</caption>
            <tbody>
                <!-- Нижняя таблица (вражеская) -->
            </tbody>
        </table>
        <button id="startGame" onclick="startGame('<%=(playername)%>')">Старт</button>
        <button id="fire" onclick="fire('<%=(playername)%>')">Сделать выстрел</button>
        <p id="wait">Ожидание противника...</p>
        <p id="end">Игра окончена</p>
        
    </div>
</body>
</html>