/* Главная странциа */

body.page_start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.start {
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    width: 400px;
    height: 120px;
    /* background-color: rgb(19, 214, 29); */
    font-size: 48px;
    border-radius: 10px;
    /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5); */
    background: none;
    background-repeat: no-repeat;
    background-image: url('images/button.png'); /* Задаем фоновую картинку */
    background-size: contain; /* Растягиваем картинку, чтобы она покрыла всю область фона */
    background-position: center; /* Размещаем картинку по центру */
    border: none;
}

.start:hover {
    /* background-color: rgb(16, 228, 27); */
    font-size: 50px;
    width: 406px;
    height: 124px;
    transform: rotate(1deg);
}

.start:active {
    /* background-color: rgb(19, 214, 29); */
    font-size: 48px;
    width: 400px;
    height: 120px;
}


/* Страница с игрой */


table {
    /* border-collapse: collapse; */
    margin: 20px auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    width: 30px;
    height: 30px;
    text-align: center;
}

th {
    background-color: #ddd;
}

td {
    cursor: pointer;
}